:root {
	--foreground: #0c0a09;
	--foreground-rgb: 12, 10, 9;

	--card: #ffffff;
	--card-foreground: #0c0a09;

	--popover: #ffffff;
	--popover-foreground: #0c0a09;

	--primary: #5a0519;
	--primary-rgb: 69, 25, 158;
	--primary-foreground: #fafaf9;

	--secondary: #fffaf5;
	--secondary-foreground: #1c1917;

	--muted: #f5f5f4;
	--muted-foreground: #78716c;

	--accent: #f5f5f4;
	--accent-foreground: #1c1917;

	--destructive: #5a0519;
	--destructive-rgb: 69, 25, 158;
	--destructive-foreground: #fafaf9;

	--text: #b1b1b1;
	--border: #e7e5e4;
	--input: #e6e6e6;
	--ring: #5a0519;
	--ring-rgb: 69, 25, 158;
	--radius: 18px;
}
