{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/prisma/(.*)$",
		"^@/shared/components/shared/(.*)$",
		"^@/shared/components/ui/(.*)$",
		"^@/shared/constants/(.*)$",
		"^@/shared/hooks/(.*)$",
		"^@/shared/services/(.*)$",
		"^@/shared/store/(.*)$",
		"^@/@types/(.*)$",
		"^@/app/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
