{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/prisma/(.*)$",
		"^@/components/ui(.*)$",
		"^@/components/features(.*)$",
		"^@/components/layouts(.*)$",
		"^@/components/screens(.*)$",
		"^@/hooks",
		"^@/constants/(.*)$",
		"^@/services/(.*)$",
		"^@/store",
		"^@/lib",
		"^@/@types/(.*)$",
		"^@/app/(.*)$",
		"^@/.*$",
		"^../(.*)$",
		"^./(?!.*\\.module\\.scss$).*$",
		"^./.*\\.module\\.scss$",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
