.wrap {
	display: flex;
	justify-content: space-between;
	gap: 300px;
	margin-top: 30px;
}

.content {
	display: block;
	padding: 15px;
	background: #fcfcfc;
}

.title {
	margin-bottom: 10px;
}

.details {
	margin-bottom: 10px;
	color: var(--text);
}
