:root {
	--foreground: #0c0a09;

	--card: #ffffff;
	--card-foreground: #0c0a09;

	--popover: #ffffff;
	--popover-foreground: #0c0a09;

	--primary: #45199e;
	--primary-foreground: #fafaf9;

	--secondary: #fffaf5;
	--secondary-foreground: #1c1917;

	--muted: #f5f5f4;
	--muted-foreground: #78716c;

	--accent: #f5f5f4;
	--accent-foreground: #1c1917;

	--destructive: #45199e;
	--destructive-foreground: #fafaf9;

	--border: #e7e5e4;
	--input: #e6e6e6;
	--ring: #45199e;
	--radius: 18px;
}

html {
	scroll-behavior: smooth;
}

button {
	border: none;
	cursor: pointer;
}

input,
textarea {
	border: none;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

* {
	font-family: var(--font-nunito), sans-serif;
}

.scrollbar::-webkit-scrollbar {
	width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 6px;
	background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #dbdadd;
	border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: #dbdadd;
}

/* @layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
} */

/* #nprogress .bar {
	@apply bg-primary !important;
}

#nprogress .peg {
	@apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
	@apply border-t-primary border-l-primary !important;
} */
