.page {
	display: flex;
	flex-direction: column;
	gap: 30px;

	&__title {
		font-weight: 900;
	}

	&__filters {
		width: 250px;
	}

	&__wrap {
		display: flex;
		gap: 80px;
	}
	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 30px;
	}
}
