.list {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	padding: 5px;
	border-radius: 15px;
	background-color: #f9fafb;
}
.item {
	font-weight: 700;
	padding: 10px 20px;
	border-radius: 15px;
	background: none;
	&.active {
		background-color: #ffffff;
		box-shadow:
			0 4px 6px -1px rgba(156, 163, 175, 0.2),
			0 2px 4px -2px rgba(156, 163, 175, 0.2);
		color: var(--primary);
	}
}
