.root {
	border-bottom: 1px solid var(--border);
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 0;
}

.btn {
	display: flex;
	align-items: center;
	line-height: 1px;
	gap: 8px;
}

.block {
	display: flex;
	gap: 15px;
}
